QWidget:focus{
    outline: none;
}/*remove all  QWidget's focus border*/

.QFrame{
    border:1px solid #5CACEE;
    border-radius:5px;
}

QWidget#centralWidget{
    border-radius:0px;
}
/*border:1px solid #1B89CA;*/

.QGroupBox{
    border:none;
}

QWidget#state_widget{
    border-bottom:1px solid #adadad;
}

.QStatusBar{
        border:none;
}

QPushButton#pushButton1{
    background:url(":/Image/Misc_Designs.png");
    background-repeat:no-repeat;
}
QPushButton#pushButton2{
    background:url(":/Image/Library.png");
    background-repeat:no-repeat;
}
QPushButton#pushButton3{
    background:url(":/Image/Idea_Stuff.png");
    background-repeat:no-repeat;
}
QPushButton#pushButton4{
    background:url(":/Image/Settings.png");
    background-repeat:no-repeat;
}

QPushButton#pushButton1:pressed,
QPushButton#pushButton2:pressed,
QPushButton#pushButton3:pressed,
QPushButton#pushButton4:pressed{
    border: 2px solid #adadad;
    margin-top:2px;
    margin-left:2px;
}

QPushButton#Back_pushButton{
        border-radius:0px;
        background-color:rgba(0,0,0,0);
        border-style:none;
}
QPushButton#Back_pushButton:hover{
    background-color:#878787;
}
QPushButton#Back_pushButton:disabled{
    color:#4C4C4C;
}
QPushButton#Back_pushButton:pressed{
    font-size:24px;

}

.QPushButton{
    border-style: none;
/*    border: 2px solid #adadad;*/
    border-radius:16px;
}


.QPushButton:hover{
    border:2px solid #adadad;
    border-radius:16px;
}

.QSpinBox{
    border:1px solid #adadad;
    text-align:center;

}

.QSpinBox:up-button{
    subcontrol-position:right;
    image:url(":/Image/arrow_simle_right.png");
    height:50px;
    width:26px;
}
.QSpinBox:down-button{
    subcontrol-position:left;
    image:url(":/Image/arrow_simle_left.png");
    height:50px;
    width:26px;
}
.QSpinBox:up-button:pressed{
    subcontrol-position:right;
    height:50px;
    width:22px;
}
.QSpinBox:down-button:pressed{
    subcontrol-position:left;
    height:50px;
    width:22px;
}

QLabel#stretch_label{
  color:white;
  background-color:#CC3333;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QSpinBox#stretch_spinBox{
    border:1px solid #CC3333;
    text-align:center;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}

QLabel#bend_label{
  color:white;
  background-color:#9933CC;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QSpinBox#bend_spinBox{
    border:1px solid #9933CC;
    text-align:center;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}

QLabel#speed_label{
  color:white;
  background-color:#CC9933;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QSpinBox#speed_spinBox{
    border:1px solid #CC9933;
    text-align:center;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}

QLabel#time_label{
  color:white;
  background-color:#009900;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QSpinBox#time_spinBox{
    border:1px solid #009900;
    text-align:center;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}



QPushButton#start_auto_pushButton,
QPushButton#stop_auto_pushButton,
QPushButton#start_stop_manual_Button,
QPushButton#stretch_manual_Button,
QPushButton#bend_manual_Button{
        border-radius:8px;
        background-color:#0099FF;
        border-style:none;
        font-size:24px;
        color:white;
}
QPushButton#start_auto_pushButton:hover,
QPushButton#stop_auto_pushButton:hover,
QPushButton#start_stop_manual_Button:hover,
QPushButton#stretch_manual_Button:hover,
QPushButton#bend_manual_Button:hover{
    background-color:#00CCFF;
}

QPushButton#start_auto_pushButton:pressed,
QPushButton#stop_auto_pushButton:pressed,
QPushButton#start_stop_manual_Button:pressed,
QPushButton#stretch_manual_Button:pressed,
QPushButton#bend_manual_Button:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:22px;
}

QPushButton#start_auto_pushButton:disabled,
QPushButton#stop_auto_pushButton:disabled,
QPushButton#start_stop_manual_Button:disabled,
QPushButton#stretch_manual_Button:disabled,
QPushButton#bend_manual_Button:disabled{
    color:white;
    background-color:#c0c0c0;
}


QRadioButton#auto_radioButton,
QRadioButton#manual_radioButton,
QRadioButton#square_radioButton,
QRadioButton#trangular_radioButton,
QRadioButton#constant_radioButton,
QRadioButton#sine_radioButton{
        spacing: 2px;
        color:#0099FF;
}

QRadioButton#auto_radioButton::indicator,
QRadioButton#manual_radioButton::indicator,
QRadioButton#square_radioButton::indicator,
QRadioButton#trangular_radioButton::indicator,
QRadioButton#constant_radioButton::indicator,
QRadioButton#sine_radioButton::indicator{
        width: 32px;
        height: 32px;
}

QRadioButton#auto_radioButton::indicator::unchecked,
QRadioButton#manual_radioButton::indicator::unchecked,
QRadioButton#square_radioButton::indicator::unchecked,
QRadioButton#trangular_radioButton::indicator::unchecked,
QRadioButton#constant_radioButton::indicator::unchecked,
QRadioButton#sine_radioButton::indicator::unchecked{
        image: url(":/Image/radio_button_off.png");
        color:red;
}
QRadioButton#auto_radioButton::indicator::checked,
QRadioButton#manual_radioButton::indicator::checked,
QRadioButton#square_radioButton::indicator::checked,
QRadioButton#trangular_radioButton::indicator::checked,
QRadioButton#constant_radioButton::indicator::checked,
QRadioButton#sine_radioButton::indicator::checked{
        image: url(":/Image/radio_button_on.png");
        color:green;
}

.QStatusBar{
    font-weight:bold;
}

QWidget#ConnectQualityWidget{
    image:url(":/Image/Emotiv.png");
}


QLabel#AF3label,
QLabel#AF4label,
QLabel#CMSlabel,
QLabel#DRLlabel,
QLabel#F3label,
QLabel#F4label,
QLabel#F7label,
QLabel#F8label,
QLabel#Fc5label,
QLabel#Fc6label,
QLabel#O1label,
QLabel#O2label,
QLabel#P7label,
QLabel#P8label,
QLabel#T7label,
QLabel#T8label{
    border-radius:17px;
    color:white;
    background-color:black;
    font-weight:bold;
}

QProgressBar{
    border-radius: 6px;
    text-align: center;
    border: 2px solid #4C4C4C;
}
QProgressBar::chunk {
        width: 6px;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        background-color: green;
}

QLabel#battery_head_label{
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    background-color: #4C4C4C;
}

.QToolBox{

}
.QToolBox::tab{
    border-radius:6px;
    border:1px solid #0099FF;
    color:#0099FF;
}

.QToolBox::tab::selected{
    border-radius:6px;
    border:1px solid #0099FF;
    color:white;
    background:#0099FF;
    font-weight:bold;
}

QRadioButton#systeminfo_radioButton
{
        spacing: 2px;
        color:#0099FF;
}

QRadioButton#systeminfo_radioButton::indicator{
        width: 48px;
        height: 48px;
}

QRadioButton#systeminfo_radioButton::indicator::unchecked{
        image: url(":/Image/switch_off.png");
        color:red;
}

QRadioButton#systeminfo_radioButton::indicator::checked{
        image: url(":/Image/switch_on.png");
        color:green;
}

QPushButton#exit_pushButton{
        border-radius:8px;
        background-color:#0099FF;
        border-style:none;
        color:white;
}
QPushButton#exit_pushButton:hover{
    background-color:#ff0000;
}
QPushButton#exit_pushButton:disabled{
    color:#4C4C4C;
}
QPushButton#exit_pushButton:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:22px;
}

/*QGroupBox#small_keyboard_groupBox{
    border: 1px solid #0000FF;
    border-radius: 10px;
}*/

QPushButton#keyboard0_pushButton,
QPushButton#keyboard1_pushButton,
QPushButton#keyboard2_pushButton,
QPushButton#keyboard3_pushButton,
QPushButton#keyboard4_pushButton,
QPushButton#keyboard5_pushButton,
QPushButton#keyboard6_pushButton,
QPushButton#keyboard7_pushButton,
QPushButton#keyboard8_pushButton,
QPushButton#keyboard9_pushButton,
QPushButton#keyboard_confirm_pushButton,
QPushButton#keyboard_clear_or_inf_pushButton{
    width:60px;
    height:50px;
    border-radius:4px;
    background-color:#0099FF;
    border-style:none;
    font-size:30px;
    color:white;
}

QPushButton#keyboard0_pushButton:hover,
QPushButton#keyboard1_pushButton:hover,
QPushButton#keyboard2_pushButton:hover,
QPushButton#keyboard3_pushButton:hover,
QPushButton#keyboard4_pushButton:hover,
QPushButton#keyboard5_pushButton:hover,
QPushButton#keyboard6_pushButton:hover,
QPushButton#keyboard7_pushButton:hover,
QPushButton#keyboard8_pushButton:hover,
QPushButton#keyboard9_pushButton:hover,
QPushButton#keyboard_confirm_pushButton:hover,
QPushButton#keyboard_clear_or_inf_pushButton:hover{
    background-color:#00CCFF;
}

QPushButton#keyboard0_pushButton:pressed,
QPushButton#keyboard1_pushButton:pressed,
QPushButton#keyboard2_pushButton:pressed,
QPushButton#keyboard3_pushButton:pressed,
QPushButton#keyboard4_pushButton:pressed,
QPushButton#keyboard5_pushButton:pressed,
QPushButton#keyboard6_pushButton:pressed,
QPushButton#keyboard7_pushButton:pressed,
QPushButton#keyboard8_pushButton:pressed,
QPushButton#keyboard9_pushButton:pressed,
QPushButton#keyboard_confirm_pushButton:pressed,
QPushButton#keyboard_clear_or_inf_pushButton:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:28px;
}

QPushButton#keyboard0_pushButton:disabled,
QPushButton#keyboard1_pushButton:disabled,
QPushButton#keyboard2_pushButton:disabled,
QPushButton#keyboard3_pushButton:disabled,
QPushButton#keyboard4_pushButton:disabled,
QPushButton#keyboard5_pushButton:disabled,
QPushButton#keyboard6_pushButton:disabled,
QPushButton#keyboard7_pushButton:disabled,
QPushButton#keyboard8_pushButton:disabled,
QPushButton#keyboard9_pushButton:disabled,
QPushButton#keyboard_confirm_pushButton:disabled,
QPushButton#keyboard_clear_or_inf_pushButton:disabled{
    color:white;
    background-color:#c0c0c0;
}

QLabel#port_channel1_freq_label,
QLabel#port_channel2_freq_label,
QLabel#port_channel3_freq_label,
QLabel#port_channel4_freq_label{
  color:white;
  background-color:#8ECFC9;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QTextEdit#port_channel1_freq_textEdit,
QTextEdit#port_channel2_freq_textEdit,
QTextEdit#port_channel3_freq_textEdit,
QTextEdit#port_channel4_freq_textEdit{
    border:1px solid #8ECFC9;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    background-color: palette(base);
}

QLabel#port_channel1_width_label,
QLabel#port_channel2_width_label,
QLabel#port_channel3_width_label,
QLabel#port_channel4_width_label{
  color:white;
  background-color:#FFBE7A;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QTextEdit#port_channel1_width_textEdit,
QTextEdit#port_channel2_width_textEdit,
QTextEdit#port_channel3_width_textEdit,
QTextEdit#port_channel4_width_textEdit{
    border:1px solid #FFBE7A;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    background-color: palette(base);
}

QLabel#port_channel1_time_label,
QLabel#port_channel2_time_label,
QLabel#port_channel3_time_label,
QLabel#port_channel4_time_label{
  color:white;
  background-color:#BEB8DC;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QTextEdit#port_channel1_time_textEdit,
QTextEdit#port_channel2_time_textEdit,
QTextEdit#port_channel3_time_textEdit,
QTextEdit#port_channel4_time_textEdit{
    border:1px solid #BEB8DC;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    background-color: palette(base);
}

QLabel#port_channel1_current_label,
QLabel#port_channel2_current_label,
QLabel#port_channel3_current_label,
QLabel#port_channel4_current_label{
  color:white;
  background-color:#82B0D2;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
QTextEdit#port_channel1_current_textEdit,
QTextEdit#port_channel2_current_textEdit,
QTextEdit#port_channel3_current_textEdit,
QTextEdit#port_channel4_current_textEdit{
    border:1px solid #82B0D2;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    background-color: palette(base);
}

QPushButton#port_channel1_shoot_pushButton,
QPushButton#port_channel2_shoot_pushButton,
QPushButton#port_channel3_shoot_pushButton,
QPushButton#port_channel4_shoot_pushButton,
QPushButton#port_open_close_pushButton,
QPushButton#port_all_channel_open_close_pushButton{
    border-radius:8px;
    background-color:#54B345;
    border-style:none;
    font-size:24px;
    color:white;
}

QPushButton#port_all_channel_open_close_pushButton{
    width:180px;
    height:70px;
    font-size:20px;
}


QPushButton#port_channel1_shoot_pushButton:hover,
QPushButton#port_channel2_shoot_pushButton:hover,
QPushButton#port_channel3_shoot_pushButton:hover,
QPushButton#port_channel4_shoot_pushButton:hover,
QPushButton#port_open_close_pushButton:hover,
QPushButton#port_all_channel_open_close_pushButton:hover{
    background-color:#63E398;
}
QPushButton#port_channel1_shoot_pushButton:pressed,
QPushButton#port_channel2_shoot_pushButton:pressed,
QPushButton#port_channel3_shoot_pushButton:pressed,
QPushButton#port_channel4_shoot_pushButton:pressed,
QPushButton#port_open_close_pushButton:pressed,
QPushButton#port_all_channel_open_close_pushButton:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:20px;
}
QPushButton#port_channel1_shoot_pushButton:disabled,
QPushButton#port_channel2_shoot_pushButton:disabled,
QPushButton#port_channel3_shoot_pushButton:disabled,
QPushButton#port_channel4_shoot_pushButton:disabled,
QPushButton#port_open_close_pushButton:disabled,
QPushButton#port_all_channel_open_close_pushButton:disabled{
    color:white;
    background-color:#c0c0c0;
}

QPushButton#port_channel1_pause_pushButton,
QPushButton#port_channel2_pause_pushButton,
QPushButton#port_channel3_pause_pushButton,
QPushButton#port_channel4_pause_pushButton{
    border-radius:8px;
    background-color:#D76364;
    border-style:none;
    font-size:24px;
    color:white;
}
QPushButton#port_channel1_pause_pushButton:hover,
QPushButton#port_channel2_pause_pushButton:hover,
QPushButton#port_channel3_pause_pushButton:hover,
QPushButton#port_channel4_pause_pushButton:hover{
    background-color:#EF7A6D;
}
QPushButton#port_channel1_pause_pushButton:pressed,
QPushButton#port_channel2_pause_pushButton:pressed,
QPushButton#port_channel3_pause_pushButton:pressed,
QPushButton#port_channel4_pause_pushButton:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:20px;
}
QPushButton#port_channel1_pause_pushButton:disabled,
QPushButton#port_channel2_pause_pushButton:disabled,
QPushButton#port_channel3_pause_pushButton:disabled,
QPushButton#port_channel4_pause_pushButton:disabled{
    color:white;
    background-color:#c0c0c0;
}

/*QGraphicsView#port_channel_state_graphicsView_1,
QGraphicsView#port_channel_state_graphicsView_2,
QGraphicsView#port_channel_state_graphicsView_3,
QGraphicsView#port_channel_state_graphicsView_4,{
    image:url(":/Image/channel_running.png");
}*/

QLabel#port_channel_state_label1,
QLabel#port_channel_state_label2,
QLabel#port_channel_state_label3,
QLabel#port_channel_state_label4{
}

QPushButton#port_channel1_save_pushButton,
QPushButton#port_channel2_save_pushButton,
QPushButton#port_channel3_save_pushButton,
QPushButton#port_channel4_save_pushButton{
    border-radius:4px;
    background-color:#0099FF;
    border-style:none;
    color:white;
}

QPushButton#port_channel1_save_pushButton:hover,
QPushButton#port_channel2_save_pushButton:hover,
QPushButton#port_channel3_save_pushButton:hover,
QPushButton#port_channel4_save_pushButton:hover{
    background-color:#00CCFF;
}

QPushButton#port_channel1_save_pushButton:pressed,
QPushButton#port_channel2_save_pushButton:pressed,
QPushButton#port_channel3_save_pushButton:pressed,
QPushButton#port_channel4_save_pushButton:pressed{
    margin-top:2px;
    margin-left:2px;
    font-size:18px;
}

QPushButton#port_channel1_save_pushButton:disabled,
QPushButton#port_channel2_save_pushButton:disabled,
QPushButton#port_channel3_save_pushButton:disabled,
QPushButton#port_channel4_save_pushButton:disabled{
    color:white;
    background-color:#c0c0c0;
}
